<!DOCTYPE html>  
<html>  
<head>  
    <title>Chippies Submission - Admin Panel</title>  
</head>  
<body>  
    <h2>Admin Panel</h2>  
    <a href="/view_order">View Orders</a><br><br>
    <a href="/add_user">Add Users</a><br><br>
    <a href="/add_menu">Add Menu Item</a><br><br>  
    <a href ="/view_user">List Users</a><br><br>  
    <a href ="/view_menu">List Menu Items</a><br><br>
    <a href="/delete_user">Delete User</a><br><br>  
    <a href="/delete_menu">Delete Menu Item</a><br><br>
</body>  
</html>  
