<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>ChippiesEats - Administration Panel</title>
<meta name="description" content="Administration Panel for ChippiesEats">
<meta name="keywords" content="chippies-eats, ChippiesEats, administration, url-navigator">
<link rel="icon" href="https://pbs.twimg.com/profile_images/1028344178294419456/UM_bdwXQ_400x400.jpg" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
<link rel='stylesheet' href='/static/css/director.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div class="section padding-top-50 padding-bottom-50 center-align">
	<a href="#"><img class="avy round" src="/static/mrd_logo.svg"></a>
	<h1 class="padding-top-15">ChippiesEats - Administration Panel</h1>
	<h2 class="padding-top-15">Select the approriate hyperlink to manage the ChippiesEats interface.</h2>
	<div><p class="padding-top-50">
		<a href="https://www.linkedin.com/in/joshua-smeda-7b9102103/" target="_blank" class="social-spacing"><i class="fab fa-linkedin fa-2x"></i></a>
	</div>
	<div class="clear"></div>
</div>

<div class="section padding-bottom-50 center-align">
	<a href="director/pending_orders" target="_blank"><div class="button"><p class="white">View Pending Orders</p></div></a>
	<a href="director/menu_administration" target="_blank"><div class="button"><p class="white">Menu Administration</p></div></a>
	<a href="director/user_administration" target="_blank"><div class="button"><p class="white">User Administration</p></div></a>

	<div class="clear"></div>
</div>

<div class="section padding-bottom-100 center-align">
	<small class="light-grey">&copy; Joshua Smeda (don't sue me, please)</small>
</div>

</body>
<script>
</script>
</html>