<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
  
<h3>View Orders</h3>  
<table border=5>  
    <thead>  
        <td>ID</td>
        <td>Name</td>  
        <td>Item</td>  
    </thead>  
      
    {% for row in order_rows %}  
    <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["name"]}}</td>  
            <td>{{row["menu"]}}</td>
    </tr>  
      
    {% endfor %}  
</table>  
<br><br>  

<table border=5>
    <thead>
        <td>Menu Item</td>
        <td>Order Number</td>
    </thead>

    {% for row in calculate_rows %}
    <tr>
            <td>{{row["menu"]}}</td>
            <td>{{row["COUNT(menu)"]}}</td>
    </tr>
    {% endfor %}
</table>
<br><br>

<a href="/admin_panel">Go back to admin panel</a>  
  
</body>  
</html>  
